.build
build
web_modules
node_modules
.bsp
ts
*.log
target/
.idea
.metals
*.iml
out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.DS_Store
.vscode
.~*
*~
*.orig
build/
local.properties
.expo/
.cache/
dist/
